body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: image(url);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.profile {
  width: 100%;
  height: auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.text {
  text-align: end;
  width: 45%;
  font-family: 'Poor Story', system-ui;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: relative;
  font-family: 'Poor Story', system-ui;
}

.logo {
  position: absolute;
  top: 20px;
  left: 2%;
  max-width: 50px;
  border-radius: 10px;
  margin: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-family: 'Poor Story', system-ui;
}

.card {
  width: 50%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
}
footer {
  text-align: center;
  padding: 1px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Poor Story', system-ui;
}